<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Get Leads</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="commercials_panel">
      <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo"/></div>
      <h4>C4U-CLEAN4U</h4>
      <h2>C4U Lead Generation</h2>
      <h1>Order Reviews</h1>
      <div class="buykit1_para">
        <h6 style="text-align: left; margin-bottom: 12px;">Basic Info</h6>

        <div class="basicinfo_box">
            <span>Company Name</span>
            <h4>{{dataLead1.company}}</h4>
        </div>

        <div class="basicinfo_box">
          <span>Phone Nymber</span>
          <h4>{{dataLead1.phone}}</h4>
      </div>

      <div class="basicinfo_box">
        <span>Alternative Phone Nymber</span>
        <h4>{{dataLead1.altphone}}</h4>
    </div>

    <div class="basicinfo_box">
      <span>Email Address</span>
      <h4>{{dataLead1.email}}</h4>
  </div>

  <div class="basicinfo_box">
    <span>State</span>
    <h4 *ngFor="let item of stateList" style="padding: 0;"><div style="padding: 5px 0 22px 0;" *ngIf="item.state_code == dataLead2.state">{{item.state}}</div></h4>
</div>

<div class="basicinfo_box" *ngFor="let item of dataLead2.cities; let i = index">
  <span>City {{i+1}}</span>
  <h4>{{item.cityName}} <small>(Qty: {{item.quantity}})</small></h4>
</div>


<div class="basicinfo_box">
  <span>Are you available for weekend appointment?</span>
  <h4>{{dataLead2.weekend}}</h4>
</div>

<div class="basicinfo_box">
  <span>What time of the day are you 
    available most appointment will 
    be set for 10am)</span>
  <h4>{{dataLead2.time}}</h4>
</div>

<div class="basicinfo_box">
  <span>Would you like to receive 
    appointment for apartment move-
    outs also?</span>
  <h4>{{dataLead2.moveout}}</h4>
</div>

<div class="basicinfo_box">
  <span>Would you like to receive 
    appointment for hotels/motels 
    also?</span>
  <h4>{{dataLead2.hotel}}</h4>
</div>

<div class="basicinfo_box" *ngIf="dataLead2.note != ''">
  <span>Note:</span>
  <h4>{{dataLead2.note}}</h4>
</div>

<div class="basicinfo_box" *ngIf="dataLead2.address != ''">
  <span>Address:</span>
  <h4>{{dataLead2.address}}</h4>
</div>

<div class="basicinfo_box" style="margin-top: 15px;" *ngIf="dataLead2.cupon != ''">
  <span><b>C4U SUPPER</b> Coupon Applied</span>
  <h4>{{dataLead2.cupon}}</h4>
</div>

<div class="basicinfo_box">
  <span><b>Sub Total</b></span>
  <h4 style="font-size: 24px;">$ {{dataLead2.subtotal}}</h4>
</div>

<div class="basicinfo_box">
  <span><b>Discount</b></span>
  <h4 style="font-size: 24px;">$ {{dataLead2.discount}}</h4>
</div>

<div class="total_panel_bottom">
  <h2>Total</h2>
  <span>$ {{dataLead2.total}}</span>
</div>

<div style="text-align: center;">
  <ion-button class="buykit_next" shape="round" (click)="onNext()">Submit</ion-button>
</div>


      </div>
  </div>

</ion-content>
