ion-back-button{
    color:black;
}
.oos{
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(245 245 245 / 80%);
    top: 0;
    padding-top: 75px;
    font-weight: bold;
    color: #373c3e;
}

.cartqnty{
    background: #ff5e0f;
    color: #fff;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    padding-left: 2px;
    position: absolute;
    right: 0;
    top: 0;
}