<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="training_tab">
    <ul>
      <li routerLink="/traning" class="active" routerDirection="root">PDF</li>
      <li routerLink="/traning1" routerDirection="root">Videos</li>
      <li routerLink="/traning2" routerDirection="root">Podcasting</li>
    </ul>

    <ion-list class="treningbox" lines="none" *ngFor="let item of pdfData">
      <ion-item (click)="pdfDownload(item.file)" style="--background: none;">
        <ion-button slot="start" fill="clear" style="
        height: 45px;
        width: 45px;
        border-radius: 12px;
        background: linear-gradient(174deg, #dde1e2, #ffffff);
        box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
        "><img src="assets/images/pdf_icon.png" alt="pdf" /></ion-button>
        <h3>{{item.title}}</h3>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>