<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Cleaning Business <br> Starter Kit</ion-title>
    <ion-button slot="end" fill="clear" routerLink="/cart">
      <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="cart" style="height: 28px;" />
      <span *ngIf="incart != 0" class="cartqnty">{{incart}}</span>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cart_panel">
    <div class="slider">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of productdetails.product_images">
          <div class="cartbox_product_img supplidetailsimg">
            <img [src]="item.image != '' ? item.image : 'assets/images/noimage.png'" alt="Product" />
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="supplydetails">
      <h4>Price</h4>
      <div class="pricepaneldetaisl">
        <b style="text-decoration: line-through;">${{productdetails.mrp}}</b>
        <span>${{productdetails.price}}</span>
      </div>
      <h3>{{productdetails.name}}</h3>

      <div [innerHTML]="productdetails.description"></div>

      <div *ngIf="productdetails.in_stock != 0">
        <div class="cartcount" *ngIf="productdetails.in_cart != 0">
          <ion-button fill="clear" (click)="lessQnty()"
            style="height: 40px; width: 25%; font-size: 22px; margin: 0; text-align: center; background: #eee;">
            -</ion-button>
          <ion-input style="width: 50%; text-align: center; --padding-end: 0; --padding-start: 0; font-size: 14px; font-weight: bold; height: 40px;" readonly
            [value]="prodQnty"></ion-input>
          <ion-button fill="clear" (click)="addQnty()"
            style="height: 40px; width: 25%; font-size: 22px; margin: 0; text-align: center; background: #eee;">
            +</ion-button>
        </div>

        <div style="text-align: center; margin-bottom: 30px;" *ngIf="productdetails.in_cart == 0">
          <ion-button class="cartcheckout_btn" (click)="onAddtocart()">Add to cart</ion-button>
        </div>
        <div style="text-align: center; margin-bottom: 30px;" *ngIf="productdetails.in_cart != 0">
          <ion-button class="cartcheckout_btn" routerLink="/cart">Go to cart</ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>