ion-back-button{
    color:black;
}
.planbox1 strong{
		background: #e05d11;
		position: absolute;
		bottom: 20px;
		right: -33px;
		color: #ffffff;
		padding: 10px 40px;
		transform: rotate(-45deg);
		font-size: 12px;
		font-weight: normal;
}
