<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="planbox1" *ngFor="let item of allPlans" (click)="onPay(item.subscription_id, item.price, item.subscribed)">
      <strong *ngIf="item.subscribed == 1">Subscribed</strong>
      <p style="color: #eefd08; padding: 0;">{{item.title}}</p>
      <h3>{{item.plan_name}} <b>${{item.price}}</b></h3>      
      <p [innerHtml]="item.description"></p>
      <img class="planbox1img" src="assets/images/white_round_arrow.png" alt="white_round_arrow"/>
      <div class="clr"></div>
    </div>
</ion-content>
