ion-back-button{
    color:black;
}
.pop{
    background: rgba(0, 0, 0, 0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; padding: 30px; display: table;
    .pop_in{
        display: table-cell; vertical-align: middle;
        .pop_box{
            margin: 0 auto; width: 100%; max-width: 270px; background: #ffffff; padding: 30px 15px; text-align: center; border-radius: 12px;
            h2{font-weight: bold;}
            p{color: #666666; font-size: 15px;}
        }
    }
}
.buykit_next {
    margin: 15px 0;
}