<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Residential</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>

    <div class="commercialsaccount" style="padding-top: 0;">

      <div class="capture_area">

        <div class="capture_areabox">
          <h4>Name of Residence <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </div>

        <div class="whiteborder" style="margin: 20px 0 30px 0;"></div>

        <h3 style="margin-bottom: 10px;">Calculation Method 1</h3>

        <div class="capture_areabox">
          <h4>Number of Bedrooms</h4>
          <ion-select interface="popover" [(ngModel)]="no_bedroom" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Half Bathrooms</h4>
          <ion-select interface="popover" [(ngModel)]="no_half_bathroom" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Full Bathrooms</h4>
          <ion-select interface="popover" [(ngModel)]="no_full_bathroom" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Sitting Rooms</h4>
          <ion-select interface="popover" [(ngModel)]="no_sitting_room"
            (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Kitchens</h4>
          <ion-select interface="popover" [(ngModel)]="no_kitchen" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Large Kitchens</h4>
          <ion-select interface="popover" [(ngModel)]="no_large_kitchen"
            (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Additional Rooms/Misc. Areas</h4>
          <ion-select interface="popover" [(ngModel)]="no_addi_room" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Glass Panels to be cleaned (i.e. entry doors, glass tables, any glass furniture included, etc.)
          </h4>
          <ion-select interface="popover" [(ngModel)]="no_glass_panel" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Number of Stairways</h4>
          <ion-select interface="popover" [(ngModel)]="no_stairways" (ionChange)="method1Val()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
          </ion-select>
        </div>
        <div class="capture_areabox">
          <h4>Additional Items Cost To Add</h4>
          <ion-input type="tel" [(ngModel)]="addi_amount" (ionChange)="method1Val()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Enter Dollar amount
            you'd like to charge for the additional items</span>
        </div>
        <div class="capture_areabox">
          <h4>Additional Notes</h4>
          <ion-textarea style="background: #ffffff; margin-top: 0;" [(ngModel)]="addi_note"></ion-textarea>
        </div>


        <div class="capture_areabox" style="margin-top: 20px;">
          <h4>Charge Per Visit</h4>
          <ion-input [(ngModel)]="charge_method1" disabled></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Deep Cleaning - 2x
            the standard charge rate</span>
        </div>

        <div class="whiteborder" style="margin: 20px 0 30px 0;"></div>

        <h3 style="margin-bottom: 10px;">Calculation Method 2</h3>

        <div class="capture_areabox">
          <h4>Enter Sqft. <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="tel" [(ngModel)]="sqft" (ionChange)="method2Val()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Enter the total
            square footage of the home</span>
        </div>
        <div class="capture_areabox">
          <h4>Enter Your Production Rate <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="tel" [(ngModel)]="rate" (ionChange)="method2Val()" [disabled]="!sqft" [style.opacity]="!sqft ? 0.5 : 1"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">
            The C4U recommendation is 500. Lower this number for more difficult homes or for deep cleanings. Raise this
            number if the home is easier.
          </span>
        </div>
        <div class="capture_areabox">
          <h4>THE ESTIMATED MAN HOURS NEED FOR THIS JOB</h4>
          <ion-input [(ngModel)]="man_hours" disabled></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Enter Your Hourly Charge Rate <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="tel" [(ngModel)]="hour_rate" (ionChange)="method2Val()" [disabled]="!rate" [style.opacity]="!rate ? 0.5 : 1"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">
            The C4U recommendation is $40 to $50 per hour. Check your local competitor rates to ensure that you remain
            competitive within your locality
          </span>
        </div>

        <div class="capture_areabox" style="margin-top: 20px;">
          <h4>Charge Per Visit</h4>
          <ion-input [(ngModel)]="charge_method2" disabled></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Deep Cleaning - 2x
            the standard charge rate</span>
        </div>

        <div class="whiteborder" style="margin: 20px 0 30px 0;"></div>

        <h3 style="margin-bottom: 10px;">Enter your email below and click submit to receive a PDF copy of your bid</h3>

        <div class="capture_areabox">
          <h4>Your Email <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
          <span
            style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">example@example.com</span>
        </div>

        <ion-button class="bidestimatebtn" (click)="onSubmit()">Send Mail</ion-button>

      </div>

    </div>
  </div>
</ion-content>

<div *ngIf="popup" class="pop">
  <div class="pop_in">
    <div class="pop_box">
      <img src="assets/images/green_right.png" alt="green_right" style="margin-top: 10px;" />
      <h2>Thank You!</h2>
      <p>Your Submission has been Sent Successfully.</p>
      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" (click)="onContinue()">Continue</ion-button>
      </div>
    </div>
  </div>
</div>