<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="invoices"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="additemmain_box">
    <div class="additembox">
      <label>Item Name <i style="color: red; font-size: 14px;">*</i></label>
      <ion-input type="text" [(ngModel)]="name" (keyup.enter)="onKeyboard(Field1)"></ion-input>
    </div>
    <div class="additembox">
      <label>Item Description <i style="color: red; font-size: 14px;">*</i></label>
      <ion-input type="text" [(ngModel)]="description" (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input>
    </div>
    <div class="additembox">
      <label>Item Quantity <i style="color: red; font-size: 14px;">*</i></label>
      <div class="quentity"
        style="overflow: hidden; display: inline-flex;">
        <ion-button fill="clear" (click)="lessQnty()" style="height: 44px; width: 25%; font-size: 22px; margin: 0; line-height: 44px; text-align: center; background: #e3e6e7;">-</ion-button>
        <div style="width: 50%; line-height: 44px; text-align: center; font-size: 12px; font-weight: bold; padding: 0 15px;">
          {{itemQnty}}</div>
        <ion-button fill="clear" (click)="addQnty()" style="height: 44px; width: 25%; font-size: 22px; margin: 0; line-height: 44px; text-align: center; background: #e3e6e7;">+</ion-button>
      </div>
    </div>
    <div class="additembox">
      <label>Item Amount <i style="color: red; font-size: 14px;">*</i></label>
      <ion-input type="tel" [(ngModel)]="amount" (keyup.enter)="onKeyboard()" #Field2 placeholder="$"></ion-input>
    </div>

    <div style="text-align: center;">
      <ion-button *ngIf="itemId == null" class="buykit_next" style="margin-top: 15px; width: 100%;" shape="round" (click)="onAddItem()">Add Item</ion-button>
      <ion-button *ngIf="itemId != null" class="buykit_next" style="margin-top: 15px; width: 100%;" shape="round" (click)="onAddItem()">Save Item</ion-button>
    </div>
  </div>

</ion-content>