ion-back-button{
    color:black;
}
audio::-webkit-media-controls-panel {
    background: #30c2ff;
    color: #ffffff !important;
    width: calc(100% + 30px);
}
audio::-webkit-media-controls-timeline-container, audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    display: none !important;
}
