<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Commercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>

    <div class="commercialsaccount">
      <span>Account <i style="color: red; font-size: 14px;">*</i></span>
      <ion-textarea [(ngModel)]="account" (keyup.enter)="onKeyboard(Field1)"></ion-textarea>
      <span style="color: #999999; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Here you can enter the
        account name, address, phone, etc.</span>

      <div class="capture_area">
        <div class="capture_areabox">
          <h4>Carpeted Area</h4>
          <ion-input type="tel" [(ngModel)]="CA" (keyup.enter)="onKeyboard(Field2)" #Field1 (ionChange)="caVal()"></ion-input>
        </div>

        <div class="capture_areabox">
          <h4>Enter Your PR For The Carpeted Area</h4>
          <ion-input type="tel" [(ngModel)]="PR_CA" (keyup.enter)="onKeyboard(Field3)" #Field2 (ionChange)="caVal()"></ion-input>
          <p>PR stands for Productions Rate. Enter the amount of
            square feet per man hour that you think can be cleaned
            for this area. 3500 is normal. 4000 is fast. 3000 is slow.
            so enter this PR or lower for difficult or cluttered
            carpeted area.</p>
        </div>

        <div class="capture_areabox">
          <span>This is the time estimated <br>
            to clean the carpeted area</span>
          <ion-input type="tel" [(ngModel)]="ET_CA" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <div class="capture_areabox">
          <h4>Hard Floor Area</h4>
          <ion-input type="tel" [(ngModel)]="HA" (keyup.enter)="onKeyboard(Field4)" #Field3 (ionChange)="haVal()"></ion-input>
          <p>Enter Sqft</p>
        </div>


        <div class="capture_areabox">
          <h4>Enter your PR for the Hard Area</h4>
          <ion-input type="tel" [(ngModel)]="PR_HA" (keyup.enter)="onKeyboard(Field5)" #Field4 (ionChange)="haVal()"></ion-input>
          <p>PR stands for Productions Rate. Enter the amount of
            square feet per man hour that you think can be cleaned
            for this area. 2500 is normal. 3000 is fast. 2000 is slow.
            so enter this PR or lower for difficult or cluttered
            carpeted area.</p>
        </div>

        <div class="whiteborder"></div>

        <div class="capture_areabox">
          <span>This is the time estimated <br>
            to clean the carpeted area</span>
          <ion-input type="tel" [(ngModel)]="ET_HA" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <div class="capture_areabox">
          <h4>Enter your Number of TUMS</h4>
          <ion-input type="tel" [(ngModel)]="numofTUMS" (keyup.enter)="onKeyboard(Field6)" #Field5 (ionChange)="tumsVal()"></ion-input>
          <p>TUMS is the Toilets, Urinals, Mirrors, and Sinks</p>
        </div>

        <div class="whiteborder"></div>

        <div class="capture_areabox">
          <span>Estimated Hours to clean this <br>
            Facility each service</span>
          <ion-input type="tel" [(ngModel)]="EHC" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3>Employee Overhead</h3>

        <div class="capture_areabox">
          <h4>Enter The Amount You Pay Your Workers Per Hour</h4>
          <ion-input type="tel" [(ngModel)]="WPH" (keyup.enter)="onKeyboard(Field7)" #Field6 (ionChange)="wphVal()"></ion-input>
          <p>… This is the amount that you plan to pay your workers
            per hour before payroll taxes***(If you do not pay your
            workers hourly, C4U recommends that this number be
            half of what you would charge the customer per hour. )</p>
        </div>

        <div class="capture_areabox">
          <h4>Hourly Charge Rate To Customer</h4>
          <ion-input type="tel" [(ngModel)]="RPH" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3>Frequency</h3>

        <div class="capture_areabox">
          <h4>How Many Days Per Week will you clean This Facility?</h4>
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder="Please Seect" [(ngModel)]="PWCF" (ionChange)="pwcfVal()"
            style="width: 100%; background-color: #ffffff; padding-right: 10px; border-radius: 30px;">
              <ion-select-option value="0.25">0.25</ion-select-option>
              <ion-select-option value="0.5">0.5</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
          </ion-select>
        </div>

        <div class="whiteborder"></div>

        <h3>Monthly Charge to this <br>
          Customer</h3>
        <p style="text-align: center; margin-bottom: 15px;">(Use your in-house minimum charge rate for anything
          that amounts to less than $200)</p>


        <div class="capture_areabox">
          <h4>This your Bid Estimate</h4>
          <ion-input [(ngModel)]="finalbid" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <!-- <h3>Bid Analysis</h3>

        <div class="capture_areabox">
          <h4>Estimated COGS(Including worker
            overhead. Payroll taxes, and supplies)</h4>
          <ion-input></ion-input>
        </div>

        <div class="capture_areabox">
          <h4>Estimated Gross Profit Margin (to increase
            or decrease this amount, adjust your
            Hourly charge Rate To Customer )</h4>
          <ion-input></ion-input>
        </div>

        <div class="capture_areabox">
          <h4>Projected Annual Gross Revenue</h4>
          <ion-input></ion-input>
        </div>

        <div class="capture_areabox">
          <h4>Projected Annual Net Profit</h4>
          <ion-input></ion-input>
        </div> 

        <div class="whiteborder"></div>-->

        <h3>Save for your records</h3>

        <div class="capture_areabox">
          <h4>Enter Your Email <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
          <p>Enter yourself a copy of this bid to edit later
            or save for your records</p>
        </div>

        <ion-button class="bidestimatebtn" (click)="onSubmit()">Send Me a Copy of This Bid Estimate</ion-button>

      </div>

    </div>
  </div>
</ion-content>

<div *ngIf="popup" class="pop">
  <div class="pop_in">
    <div class="pop_box">
      <img src="assets/images/green_right.png" alt="green_right" style="margin-top: 10px;" />
      <h2>Thank You!</h2>
      <p>Your Submission has been Sent Successfully.</p>
      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" (click)="onContinue()">Continue</ion-button>
      </div>
    </div>
  </div>
</div>