ion-back-button{
    color:black;
}
.payment ion-input {
    border: none;
}
.additembox{
    border-radius: 20px;
    height: auto;
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    padding: 15px;
    margin: 0 0 15px 0;
    ion-label{
        font-size: 14px;
        color: #636161;
    }
    ion-input{
        margin: 8px 0 0 0;
        border-radius: 15px;
    }
    ion-datetime {
        height: 44px;
        color: #213b4b;
        font-size: 12px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin: 0 0 20px 0;
        border-radius: 12px;
        --padding-end: 15px;
        --padding-start: 15px;
        background: linear-gradient( 174deg, #dde1e2, #ffffff);
        box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
        margin: 8px 0 0 0;
        line-height: 24px;
    }    
}

.paumyentnode {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    ion-radio{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
    }
    ion-item{
        border-radius: 20px;
        margin: 2%;
        --background: linear-gradient(174deg, #dde1e2, #ffffff);
        box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
        width: 29.33%;
        height: 70px;
        display: inline-block;
        position: relative;
        --padding-start: 0;
        --inner-padding-end: 0;
        text-align: center;
        img{
            height: 30px;
            margin: 21px auto;
        }
    }
    ion-item.item-radio-checked{
        --background: none;
        box-shadow: 3px 3px 6px 0 #889ba2, -3px -3px 6px 0 #d4e8ef, -8px -8px 16px 0 #c1cace inset, 8px 8px 16px 0 #ffffff inset;
    }
}
.total_top{ background: linear-gradient(135deg, #194dd5, #16b4dc);padding: 6px 5px; color: #ffffff; font-weight: 700; font-family: "Open Sans", sans-serif; font-size: 17px; }
.total_top_right{ text-align: right; }
