<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" class="ion-no-border">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <div style="text-align: center;"><img style="height: 60px;" src="assets/images/white_logo.png" alt="white_logo" />
      <h4 class="headertext">C4U Lead Generation</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e7eef1;">
  <div style="background:#18a8e2;">
    <div class="home_content">
      <h2>Settings</h2>
      <div class="settings_panel">
        <ion-list>
          <ion-item routerLink="/editprofile" lines="none" detail="false">
            <ion-label>Edit Profile</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/myorder" lines="none" detail="false">
            <ion-label>My Order</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/cart" lines="none" detail="false"> 
            <span *ngIf="incart != 0" class="cartqnty">{{incart}}</span>           
            <ion-label>My Cart </ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/plans" lines="none" detail="false">
            <ion-label>Subscription</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/invoicesettings" lines="none" detail="false">
            <ion-label>Invoice Settings</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/termsconditions" lines="none" detail="false">
            <ion-label>Terms of Use</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item routerLink="/privacypolicy" lines="none" detail="false">
            <ion-label>Privacy Policy</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
          <ion-item (click)="onLogout()" lines="none" detail="false">
            <ion-label>Logout</ion-label>
            <ion-button slot="end" fill="clear"><img src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs class="bottom_tab">
      <ion-tab-bar slot="top">
        <ion-tab-button routerLink="/home" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon1.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon1_active.png" alt="tab_icon1" />
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/buykits" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon2.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="tab_icon1" />
          <ion-label>Buy Kits</ion-label>
        </ion-tab-button>

        <ion-tab-button class="active" routerLink="/settings" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon3.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon3_active.png" alt="tab_icon1" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/myprofile" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon4.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon4_active.png" alt="tab_icon1" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>