ion-back-button{
    color:black;
}

.cartqnty{
    background: #ff5e0f;
    color: #fff;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    right: 0;
    top: 0;
}