<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="invoices"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="customerId == null" class="innerpageheading">Add Customer</ion-title>
    <ion-title *ngIf="customerId != null" class="innerpageheading">Edit Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel" *ngIf="customerId != null">
    <div class="profile_img_box">
      <img [src]="profilePic != '' ? profilePic : 'assets/images/profile_img.jpg'" alt="profile_img" />
      <div class="profile_camera" (click)="uploadPP()"><img src="assets/images/profile_camera.png"
          alt="profile_camera" /></div>
    </div>
  </div>

  <div class="addcustomer_panel">

    <div class="textbox_panel">
      <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
      <div class="textbox_panel_text">
        <ion-input placeholder="First Name" type="text" [(ngModel)]="fname" (keyup.enter)="onKeyboard(Field1)">
        </ion-input>
      </div>
    </div>

    <div class="textbox_panel">
      <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
      <div class="textbox_panel_text">
        <ion-input placeholder="Last Name" type="text" [(ngModel)]="lname" (keyup.enter)="onKeyboard(Field2)" #Field1>
        </ion-input>
      </div>
    </div>

    <div class="textbox_panel">
      <div class="textbox_panel_img"><img src="assets/images/phone_icon.png" alt="phone_icon" /></div>
      <div class="textbox_panel_text">
        <ion-input placeholder="Phone Number" type="tel" maxlength="15" [(ngModel)]="phone" (keyup.enter)="onKeyboard(Field3)" #Field2>
        </ion-input>
      </div>
    </div>

    <div class="textbox_panel">
      <div class="textbox_panel_img"><img src="assets/images/email_icon.png" alt="email_icon" /></div>
      <div class="textbox_panel_text">
        <ion-input placeholder="Email Address" type="email" [(ngModel)]="email" (keyup.enter)="onKeyboard(Field4)"
          #Field3></ion-input>
      </div>
    </div>
    <div class="textbox_panel">
      <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon" /></div>
      <div class="textbox_panel_text">
        <ion-input placeholder="Address" [(ngModel)]="address" (keyup.enter)="onKeyboard()" #Field4></ion-input>
      </div>
    </div>

    <div style="text-align: center;">
      <ion-button class="buykit_next" shape="round" style="width: 100%;" (click)="onSave()">Save</ion-button>
    </div>
  </div>
</ion-content>