<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" class="ion-no-border">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <div style="text-align: center;"><img style="height: 60px;" src="assets/images/white_logo.png" alt="white_logo" />
      <h4 class="headertext">C4U Lead Generation</h4>
    </div>
  </ion-toolbar>
  <div style="position: absolute; top: 40px; right: 15px; z-index: 99;">
    <ion-toggle (ionChange)="toggleAppTheme($event)" color="dark"></ion-toggle></div>
</ion-header>

<ion-content>
  <div style="background:#18a8e2; height: 100px;">    
    <div class="home_content">
      <h2>Start Activity</h2>
      <div class="homebox" routerLink="/invoices"><img src="assets/images/homebox_icon1.png" alt="homebox_icon1" />
        <h4>Invoices</h4>
        <div class="mememberonly"><span>memember <br> only</span></div>
      </div>
      <div class="homebox" routerLink="/leads"><img src="assets/images/homebox_icon2.png" alt="homebox_icon2" />
        <h4>Get Leads</h4>
        <div class="mememberonly"><span>memember <br> only</span></div>
      </div>
      <div class="homebox" routerLink="/traning"><img src="assets/images/homebox_icon3.png" alt="homebox_icon3" />
        <h4>Training</h4>
      </div>
      <div class="homebox" routerLink="/calculators"><img src="assets/images/homebox_icon4.png" alt="homebox_icon4" />
        <h4>Calculators</h4>
        <div class="mememberonly"><span>memember <br> only</span></div>
      </div>
      <div class="homebox" routerLink="/supplies"><img src="assets/images/homebox_icon5.png" alt="homebox_icon5" />
        <h4>Supplies</h4>
      </div>
      <div class="homebox" routerLink="/help"><img src="assets/images/homebox_icon6.png" alt="homebox_icon6" />
        <h4>Help</h4>
      </div>
    </div>
  </div>  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs class="bottom_tab">
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="active" routerLink="/home" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon1.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon1_active.png" alt="tab_icon1" />
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/buykits" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon2.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="tab_icon1" />
          <ion-label>Buy Kits</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/settings" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon3.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon3_active.png" alt="tab_icon1" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/myprofile" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon4.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon4_active.png" alt="tab_icon1" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
<div class="overlaystaterkit" *ngIf="pop">
  <div class="overlaystaterkit_text">
    <div class="crosspopup"><img src="assets/images/crossbtn.png" alt="crossbtn" /></div>
    <h2>Get Ready for Starter Kit </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non varius mi. </p>
    <ion-button class="continuebtn">Continue</ion-button>
  </div>
</div>