ion-back-button{
    color:black;
}
.checkareabox {
    margin-top: 30px;
    p{
        font-size: 14px;
        margin: 0 0 15px 0;
        color: #999999;
    }
    span {
        color: #222222;
        font-size: 15px;
        font-weight: 400;
        font-family: "Ubuntu", sans-serif;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: top;
        padding: 1px 15px 0 7px;        
    }
    input{
        width: 20px; height: 20px;
        filter: drop-shadow(2px 4px 6px #999999);
    }
}

.textbox_panel {
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
}