<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Invoice Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">        
    <div class="profile_img_box">
      <img [src]="companyLogo != null ? companyLogo : 'assets/images/company.jpg'" alt="profile_img" />
      <!-- <img src="assets/images/profile_img.jpg" alt="profile_img" /> -->
      <div class="profile_camera" (click)="uploadCL()"><img src="assets/images/profile_camera.png" alt="profile_camera" /></div>
    </div>  
    <p style="margin: 10px 0 0 0; text-align: center; font-size: 14px;"><strong>Company Logo</strong></p>
  </div>

  <div class="addcustomer_panel">
      <p style="color: red; font-size: 12px; margin: 10px 0 0;"><i style="font-size: 14px;">*</i> Below all fields are mandatory.</p>
      <div class="textbox_panel">
          <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Company Name" type="text" [(ngModel)]="companyName" (keyup.enter)="onKeyboard(Field1)"></ion-input></div>
      </div>

      <div class="textbox_panel">
          <div class="textbox_panel_img"><img src="assets/images/phone_icon.png" alt="phone_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Company Phone" type="tel" maxlength="15" [(ngModel)]="companyPhone" (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input></div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Company Address" type="text" [(ngModel)]="companyAddress" (keyup.enter)="onKeyboard(Field3)" #Field2></ion-input></div>
      </div>

      <div class="checkareabox">            
        <p>Type of Tax Payment.</p>
        <input type="radio" [checked]="companyTax_type == 'percentage'" name="taxtType" (change)="taxType('percentage')" /> <span>% Rate</span>
        <input type="radio" [checked]="companyTax_type == 'fixed'" name="taxtType" (change)="taxType('fixed')" /> <span>Fixed Rate</span>
      </div>

      <div class="textbox_panel">
          <div *ngIf="companyTax_type == 'percentage'" class="textbox_panel_img" style="color: #a0aeb3; font-weight: bold; font-size: 22px;">%</div>
          <div *ngIf="companyTax_type == 'fixed'" class="textbox_panel_img" style="color: #a0aeb3; padding-left: 4px; font-weight: bold; font-size: 22px;">$</div>
          <div class="textbox_panel_text"><ion-input placeholder="Tax Value" type="tel" [(ngModel)]="companyTax" (keyup.enter)="onKeyboard()" #Field3></ion-input></div>
      </div>

      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" style="width: 100%;" (click)="onSave()">Save</ion-button>
      </div>
</div>
</ion-content>
