<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo"/></div>
    <h4>C4U-CLEAN4U</h4>   
  </div>

  <div class="addcustomer_panel">
    <p style="color: red; font-size: 12px; margin: 10px 0 0;"><i style="font-size: 14px;">*</i> First Name, Last Name and Phone Number are mandatory fields.</p>
      <div class="textbox_panel">
          <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="First Name" type="text" [(ngModel)]="fname" (keyup.enter)="onKeyboard(Field1)"></ion-input></div>
      </div>

      <div class="textbox_panel">
          <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Last Name" type="text" [(ngModel)]="lname" (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input></div>
      </div>

      <div class="textbox_panel">
          <div class="textbox_panel_img"><img src="assets/images/phone_icon.png" alt="phone_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Phone Number" type="tel" [(ngModel)]="phone" (keyup.enter)="onKeyboard(Field3)" #Field2></ion-input></div>
      </div>

      <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/address_icon.png" alt="address_icon"/></div>
          <div class="textbox_panel_text"><ion-input placeholder="Address" type="text" [(ngModel)]="address" (keyup.enter)="onKeyboard(Field4)" #Field3></ion-input></div>
      </div>
      
      <div class="textbox_panel" style="height: 70px;">
        <div class="textbox_panel_img"><img src="assets/images/about_icon.png" alt="address_icon"/></div>
          <div class="textbox_panel_text" style="height: 70px;"><ion-textarea placeholder="About" style="height: 70px; font-size: 12px;" [(ngModel)]="about" (keyup.enter)="onKeyboard()" #Field4></ion-textarea></div>
      </div> 

      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" style="width: 100%;" (click)="onSaveProfile()">Save</ion-button>
      </div>
</div>
</ion-content>
