.dark-theme{
    .home_content h2 {
        color: #cccccc;
    }
    .home_content {
        background: #0a1c27;
    }
    ion-header {
        background: #0a1c27;
    }
    ion-toolbar{
        background: #0a1c27;
        --background: #0a1c27;
    }
    ion-content{
        background: #0a1c27;
        --background: #0a1c27;
    }
    ion-tabs.bottom_tab {
        background: #0a1c27;
    }
    ion-tabs.bottom_tab ion-tab-bar {
        background: #0a1c27;
    }
    .homebox {
        background: linear-gradient(135deg, #aadaf7, #ffffff);
        box-shadow: 3px 3px 6px 0 #00080a, -3px -3px 6px 0 #144f67;
    }
    .bottom_tab ion-tab-button {
        background: linear-gradient(135deg, #aadaf7, #ffffff);
        box-shadow: 3px 3px 6px 0 #00080a, -3px -3px 6px 0 #09445d;
    }
}