ion-back-button{
    color:black;
}
.addnew {
    margin: 0;
    width: 100%;
    border-radius: 0;
    --border-radius: 0;
}
.pop{
    background: rgba(0, 0, 0, 0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; padding: 30px; display: table;
    .pop_in{
        display: table-cell; vertical-align: middle;
        .pop_box{
            margin: 0 auto; width: 100%; max-width: 270px; background: #e7eef1; padding: 30px 0 15px 0; border-radius: 12px;
            h2{
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                margin: 0 0;
                color: #666666;
                border-bottom: 1px #cccccc solid;
                padding-bottom: 20px;
            }
        }
    }
}
.buykit_next_smal {
    --background: linear-gradient(135deg, #194dd5, #16b4dc);
    border-radius: 50px;
    min-width: 109px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    color: #dff6ff;
    margin: 0 0;
    box-shadow: 7px 6px 14px 0 rgb(0 0 0 / 25%), -5px -6px 10px 0 rgb(255 255 255 / 30%);
    text-transform: capitalize;
}
.checkareabox {
    --background: #e7eef1;
    background: #e7eef1;
    ion-item{
        --background: linear-gradient(174deg, #dde1e2, #ffffff);
        background: linear-gradient(174deg, #dde1e2, #ffffff);
        box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
        overflow: hidden;
        border-radius: 30px;
        font-size: 14px;
        margin: 15px 30px;
        line-height: 30px;
    }
}