<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Invoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="invoice">
    <ul>
      <li [class]="unpaidActive == true ? 'active' : ''" (click)="oninvoiceType('Unpaid')">Unpaid</li>
      <li [class]="paidActive == true ? 'active' : ''" (click)="oninvoiceType('Paid')">Paid</li>
    </ul>

    <p *ngIf="invoiceData == null" style="text-align: center; margin: 50px 0; color: #999999; font-weight: bold;">[
      Sorry! Nothing Found. ]
    </p>
    <div *ngIf="invoiceData != null" style="margin-bottom: 30px;">
      <h2>{{invoiceType}} List</h2>

      <div class="invoice_box" *ngFor="let item of invoiceData.reverse()" (click)="goInvoice(item.invoice_id)">
        <div class="invoice_box_l"><img
            [src]="item.profile_image != '' ? item.profile_image : 'assets/images/profile_img.jpg'" alt="paid_icon" />
        </div>
        <div class="invoice_box_r">
          <h3>{{item.first_name}} {{item.last_name}}<span>$ {{item.total_amount}}</span></h3>
          <h6>Invoice #{{item.invoice_id}} <b>{{item.created_date}}</b></h6>
        </div>
        <div class="clr"></div>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="addnew" (click)="createInvoice()">Create Invoice</ion-button>
</ion-footer>

<div *ngIf="popup" class="pop">
  <div class="pop_in">
    <div class="pop_box">
      <h2>Choose Customer Type</h2>
      <ion-list class="checkareabox">
        <ion-radio-group [(ngModel)]="cusType" (ionChange)="onType()">
          <ion-item lines="none">
            <ion-label>New Customer</ion-label>
            <ion-radio slot="end" value="new"></ion-radio>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label>Existing Customer</ion-label>
            <ion-radio slot="end" value="existing"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <div style="padding: 0 30px; margin-bottom: 15px;">
          <ion-select *ngIf="showList == true" [interfaceOptions]="customPopoverOptions" [(ngModel)]="existcustomer" (ionChange)="onexistCust()"
            style="
            width: 100%; padding-right: 20px; border-radius: 30px; height: 50px;
            background: linear-gradient(174deg, #dde1e2, #ffffff);
            box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
            " placeholder="Select Customer">
            <ion-select-option *ngFor="let cus of customerList" [value]="cus.customer_id">{{cus.first_name}} {{cus.last_name}}</ion-select-option>
          </ion-select>
        </div>
      </ion-list>
    </div>
    <div style="text-align: center; margin-top: 15px;">
      <ion-button size="small" color="warning" shape="round" (click)="onClose()">Close</ion-button>
    </div>
  </div>
</div>