<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo"/></div>
    <h4>C4U-CLEAN4U</h4>   
  </div>
  <div class="help_panel">
    <ion-list class="halpbox" *ngFor="let item of heplData; let i = index" lines="none">
      <div class="faq_list">
        <ion-item (click)="expandItem(i)">
          <ion-button slot="start" class="q" fill="clear">Q</ion-button>
          <h3>{{item.title}}</h3>
          <ion-button slot="end" fill="clear" style="margin-left: 18px;">
            <img src="assets/images/help_arrow_r.png" alt="help_arrow_r" *ngIf="item.open"/>
            <img src="assets/images/help_arrow_b.png" alt="help_arrow_b" *ngIf="!item.open"/>
          </ion-button>
        </ion-item>
        <div class="halpbox_content" *ngIf="item.open">
          <ion-item>
            <ion-button slot="start" class="q a" fill="clear">A</ion-button>
            <div [innerHTML]="item.description"></div>
          </ion-item>
        </div>
      </div>
    </ion-list>      
  </div>
</ion-content>
