<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Get Leads</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
    <h2>C4U Lead Generation</h2>
    <h1 style="padding-bottom: 0;">Requirement</h1>
    <div class="buykit1_para">
      <div class="capture_area">
        <div class="capture_areabox buykit2" style="margin-bottom: 15px;">
          <h4>List Up To 5 Cities That you provide service
            to Order of importance</h4>
          <h4>Your State <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-select [interfaceOptions]="statePopoverOptions" [(ngModel)]="state" (ionChange)="onStatechange()"
            style="width: 100%; background: linear-gradient( 174deg, #dde1e2, #ffffff);
            box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec; padding-right: 10px; border-radius: 30px;">
            <ion-select-option *ngFor="let item of stateList" [value]="item.state_code">{{item.state}}
            </ion-select-option>
          </ion-select>
        </div>

        <div class="capture_areabox buykit2" *ngIf="state != null">
          <ion-grid style="padding: 5px 0;" *ngIf="cities != ''">
            <ion-row *ngFor="let city of cities; let i = index">
              <ion-col size="8">
                <h4>City {{i+1}}</h4>
                <ion-input readonly [(ngModel)]="city.cityName"></ion-input>
              </ion-col>
              <ion-col size="4">
                <h4>Qty</h4>
                <ion-input readonly [(ngModel)]="city.quantity"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div style="padding: 10px; text-align: center;" *ngIf="cities.length != 5">
            <ion-button class="buykit_next buykit_next_smal" shape="round" (click)="addCity()">Add City</ion-button>
          </div>
        </div>


        <div class="capture_areabox buykit2_radiopanel">
          <h4>Are you available for weekend appointment?</h4>
          <span style="display: inline-block;padding: 9px 10px 0 0;vertical-align: top;">No</span>
          <ion-toggle color="success" [(ngModel)]="availableWeekend" (ionChange)="weekend($event)"></ion-toggle><span
            style="display: inline-block; padding: 9px 0 0 10px;vertical-align: top;">Yes</span>
        </div>

        <div class="capture_areabox buykit2_radiopanel">
          <h4>What time of the day are you available most appointment will be set for 10 am. <i style="color: red; font-size: 14px;">*</i></h4>
              <ion-radio-group (ionChange)="time($event)">            
                <ion-item lines="none">
                  <ion-label>Morning</ion-label>
                  <ion-radio color="light" slot="end" value="Morning"></ion-radio>
                </ion-item>
            
                <ion-item lines="none">
                  <ion-label>Afternoon</ion-label>
                  <ion-radio color="light" slot="end" value="Afternoon"></ion-radio>
                </ion-item>
            
                <ion-item lines="none">
                  <ion-label>Anytime</ion-label>
                  <ion-radio color="light" slot="end" value="Anytime"></ion-radio>
                </ion-item>
              </ion-radio-group>
        </div>


        <div class="capture_areabox buykit2_radiopanel">
          <h4>Would you like to receive
            appointment for apartment move-
            outs also?</h4>
          <span style="display: inline-block;padding: 9px 10px 0 0;vertical-align: top;">No</span>
          <ion-toggle color="success" [(ngModel)]="moveoutAppointment" (ionChange)="moveout($event)"></ion-toggle><span
            style="display: inline-block; padding: 9px 0 0 10px;vertical-align: top;">Yes</span>
        </div>

        <div class="capture_areabox buykit2_radiopanel">
          <h4>Would you like to receive
            appointment for hotels/motels
            also?</h4>
          <span style="display: inline-block;padding: 9px 10px 0 0;vertical-align: top;">No</span>
          <ion-toggle color="success" [(ngModel)]="hotelAppointment" (ionChange)="hotelappoinYN($event)"></ion-toggle><span
            style="display: inline-block; padding: 9px 0 0 10px;vertical-align: top;">Yes</span>
        </div>

        <div class="capture_areabox buykit2_radiopanel">
          <h4>Do you have any notes you'd like us to know?</h4>
          <ion-textarea [(ngModel)]="note"></ion-textarea>
        </div>

        <div class="capture_areabox buykit2_radiopanel">
          <h4>Address</h4>
          <ion-textarea [(ngModel)]="address"></ion-textarea>
        </div>

        <div class="whiteborder"></div>

        <div class="capture_areabox buykit2_radiopanel" >
          <div [innerHtml]="pageContent.content"></div>
          <p><strong>Appointment $ {{perLeadCost}}</strong></p>
          <p>Choose the number of appointments that you would like. Each appointment is $ {{perLeadCost}} each.</p>
        </div>

        <div class="entercouponbuykit2">
          <h2 *ngIf="cuponvalue == ''">Enter Coupon</h2><h2 *ngIf="cuponvalue != ''">Coupon Apllied</h2>
          <ion-item *ngIf="cuponvalue != ''" lines="none" detail="false" style="margin-top: 15px;">
            <ion-label>{{cuponvalue.promocode}}</ion-label>
            <ion-button slot="end" fill="clear" style="height: 30px; margin: 0;" (click)="rmCupon()">
              <img src="assets/images/crossbtn.png" alt="remove" style="filter: brightness(5); margin-top: -2px;" />
            </ion-button>
          </ion-item>
          <ion-grid>            
            <ion-row *ngIf="cuponvalue == ''">
              <ion-col size="7">
                <ion-input [(ngModel)]="cuponcode"></ion-input>
              </ion-col>
              <ion-col size="5">
                <ion-button class="entercouponbtn" shape="round" (click)="applyCupon()">Apply</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <span class="total" style="font-size: 16px; padding-top: 14px;">Sub Total</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="total_price" style="font-size: 20px;">$ {{subTotalValue}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="total" style="font-size: 16px; padding-top: 14px;">Discount</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="total_price" style="font-size: 20px;">- $ {{discountValue}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="total">Total</span>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <span class="total_price">$ {{totalValue}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>
    <div style="text-align: center;">
      <ion-button class="buykit_next" shape="round" (click)="onNext()">Next</ion-button>
    </div>
  </div>
</ion-content>

<div *ngIf="popup" class="pop">
  <div class="pop_in">
    <div class="pop_box">
      <h2>Please Add City</h2>
      <h4 style="color: #ffffff; font-size: 16px;">City</h4>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="city"
        style="width: 100%; background: linear-gradient(174deg, #dde1e2, #ffffff);
              box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec; padding-right: 10px; border-radius: 30px;">
        <ion-select-option *ngFor="let item of cityList" [value]="item">{{item.city}}</ion-select-option>
      </ion-select>
      <h4 style="color: #ffffff; font-size: 16px;">Qty</h4>
      <div
        style="background: linear-gradient(174deg, #dde1e2, #ffffff);
              box-shadow: 3px 3px 6px 0 #115977, -3px -3px 6px 0 #c1e0ec; overflow: hidden; border-radius: 30px; display: inline-flex;  width: 100%; height: 38px;">
        <ion-button fill="clear" (click)="lessQnty()" style="height: 38px; width: 25%; font-size: 22px; margin: 0; line-height: 36px; text-align: center; background: #d4d7d8;">-</ion-button>
        <div style="width: 50%; line-height: 36px; text-align: center; color: #213b4b; font-size: 12px; font-weight: 400; font-family: 'Poppins', sans-serif; padding: 0 15px;">
          {{cityQnty}}</div>
        <ion-button fill="clear" (click)="addQnty()" style="height: 38px; width: 25%; font-size: 22px; margin: 0; line-height: 36px; text-align: center; background: #d4d7d8;">+</ion-button>
      </div>
      <div style="text-align: center; margin-top: 30px;">
        <ion-button class="buykit_next buykit_next_smal" shape="round" (click)="saveCities()">Save</ion-button>
      </div>
    </div>
    <div style="text-align: center; margin-top: 15px;">
      <ion-button size="small" color="warning" shape="round" (click)="onClose()">Close</ion-button>
    </div>
  </div>
</div>