<ion-content>
  <div class="thankyoupanel">
     <img src="assets/images/green_right.png" alt="green_right"/>  
     <h2 style="font-weight: bold; margin: 20px 0 0 0;">Congratulation!</h2> 
     <h5>You has been Registered Succesfully.</h5>
     <div style="text-align: center;">
      <ion-button class="buykit_next" shape="round" (click)="onContinue()">Let's Continue</ion-button>
    </div>
  </div>
</ion-content>
