<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" lines="none">
  <ion-toolbar style="--background: #18a8e2 !important;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content lines="none">
  <div class="login innerscreen_bg" style="padding: 50px 50px 0 50px;">
    <h2 style="font-size: 24px;">Forgot Password</h2>
    <div class="textbox_panel">
        <div class="textbox_panel_img"><img src="assets/images/email_icon.png" alt="email_icon" /></div>
        <div class="textbox_panel_text">
            <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
        </div>
    </div>
    <div class="loginbutton_panel" style="margin-top: 15px;">
        <ion-button class="signinbtn" (click)="onSend()">Send</ion-button>
    </div>
</div>
</ion-content>