<ion-content>
    <div class="login">
        <h2>Sign Up</h2>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="First Name" type="text" [(ngModel)]="fname" (keyup.enter)="onKeyboard(Field1)"></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/name_icon.png" alt="name_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Last Name" type="text" [(ngModel)]="lname" (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/phone_icon.png" alt="phone_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Phone Number" type="tel" maxlength="15" [(ngModel)]="phone" (keyup.enter)="onKeyboard(Field3)" #Field2></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/email_icon.png" alt="email_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Email Address" type="email" [(ngModel)]="email" (keyup.enter)="onKeyboard(Field4)" #Field3></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/password_icon.png" alt="email_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Password" type="password" [(ngModel)]="password" (keyup.enter)="onKeyboard(Field5)" #Field4></ion-input>
            </div>
        </div>
        <div class="textbox_panel">
            <div class="textbox_panel_img"><img src="assets/images/password_icon.png" alt="email_icon" /></div>
            <div class="textbox_panel_text">
                <ion-input placeholder="Confirm Password" type="password" [(ngModel)]="cnfpassword" (keyup.enter)="onKeyboard()" #Field5></ion-input>
            </div>
        </div>
        <div class="accept_conditions">
            <span class="createaccounttext">
                <ion-checkbox [(ngModel)]="termscondit"></ion-checkbox> &nbsp; I accept <span routerLink="/termsconditions" style="text-decoration: underline; outline: none;">Term and
                    Conditions</span>
            </span>
        </div>
        <div class="clr"></div>
        <div class="loginbutton_panel">
            <ion-button class="signinbtn" (click)="onSignup()">Next</ion-button>
        </div>
        <!-- <div class="or">or</div>
        <div class="social_btn">
            <img src="../../assets/images/facebook_icon.png" alt="facebook_icon" />
            Sign In with Facebook
        </div>
        <div class="social_btn">
            <img src="../../assets/images/google_plus_icon.png" alt="google_plus_icon" />
            Sign In with Google
        </div> -->
        <span class="createaccounttext">Already have an account? <a routerLink="/login">Login</a></span>
    </div>
</ion-content>