<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" lines="none">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="invoices"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Invoice</ion-title>
    <ion-button slot="end" style="--background: #dcef28; --box-shadow: 3px 3px 6px 0 #075675, -3px -3px 6px 0 #c5e7f5; --color: #000000; height: 35px; width: 70px; margin-right: 15px;" size="small" shape="round" *ngIf="invoiceDetails.invocie_status == 'Unpaid' && invoiceDetails.total_amount > 0" (click)="onPaid()"><strong>Paid</strong></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="profile_img_box">
      <img [src]="companyDetails.logo != '' ? companyDetails.logo : 'assets/images/profile_img.jpg'" alt="logo" />
    </div>
    <p style="margin: 10px 0 0 0; text-align: center; font-size: 14px;"><strong>{{companyDetails.company_name}}</strong>
    </p>
  </div>

  <div class="createinvoice">
    <div style="padding: 15px; border-radius: 20px;
    background: linear-gradient(174deg, #dde1e2, #ffffff);
    box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff;
    ">
      <h2>Invoice ID<span>#{{invoiceId}}</span></h2>
      <h3>Invoice Status <span>{{invoiceDetails.invocie_status}}</span>
        <div class="clr"></div>
      </h3>
    </div>

    <div class="invoice_box" style="margin: 20px 0;">
      <div class="invoice_box_l"><img
          [src]="invoiceDetails.profile_image != '' ? invoiceDetails.profile_image : 'assets/images/profile_img.jpg'"
          alt="image" /></div>
      <div class="invoice_box_r">
        <h3>{{invoiceDetails.first_name}} {{invoiceDetails.last_name}}</h3>
        <h6><small style="color: #999999;">Phone:</small><br/>{{invoiceDetails.phone_number}}</h6>
      </div>
      <ion-button fill="clear" class="editcustomer" (click)="onEdit(invoiceDetails.customer_id)"><img
          src="assets/images/tab_icon3.png" alt="tab_icon1" /></ion-button>
      <div class="clr"></div>
    </div>

    <div class="addcouistomer_panel">
      <div class="addcouistomer_panel_box" (click)="onAdd(invoiceId)">Add Item <img
          src="assets/images/createinvoice_arrow_blue.png" alt="createinvoice_arrow_blue" /></div>
    </div>

    <div style="border-radius: 20px; box-shadow: 4px 5px 6px 0 #90999c, -4px -5px 6px 0 #ffffff; overflow: hidden; background: #ffffff;" *ngIf="itemDetails.length > 0">
      <div style="background: #18a8e2; color: #ffffff; font-weight: bold; text-align: center; font-weight: 700; font-family: 'Ubuntu', sans-serif; padding: 15px 10px;">
        List of Items
      </div>
      <div style="padding:5px 15px;" class="itemholder">
        <h4 *ngFor="let item of itemDetails; let i = index">
          <!-- <span>
            <div class="optbtn" (click)="onTool($event, item.item_id)"><img src="assets/images/tab_icon3.png" alt="tab_icon1" /></div>
            <div class="optbtn" (click)="onTool($event, item.item_id)"><img src="assets/images/tab_icon3.png" alt="tab_icon1" /></div>
            <div class="optbody" *ngIf="item.showMore">
              <p >Edit</p>
              <p >Delete</p>
            </div>
          </span> -->
          {{item.name}}<br/><small style="color: #999999;">{{item.description}} ( Qty: {{item.quantity}} )</small>
          <b>$ {{item.total_amount}}</b>
          <div style="margin-top: 8px; margin-bottom: 4px;">             
            <small (click)="onitemDel(item.invoice_id, item.item_id)" class="smlbtn" style="color: red; background: #eeeeee;">Delete</small>
            <small (click)="onitemEdit(item.invoice_id, item.item_id)" class="smlbtn">Edit</small>
          </div>
        </h4>
      </div>
      <div class="subarea">
        <h4>Sub Total <b>$ {{invoiceDetails.sub_total}}</b></h4>        
        <h4>Discount (-) <b>$ {{invoiceDetails.discount_amount}}</b></h4>
        <h4>Tax <b>$ {{invoiceDetails.tax_amount}}</b></h4>
      </div>
      <div style="background: #000c10; color: #ffffff; font-weight: bold; font-weight: 700; font-family: 'Ubuntu', sans-serif; padding: 0 15px;">
        <h4 style="color: #dcef28; font-size: 16px; line-height: 30px; border: none;">Total 
          <b style="color: #dcef28; font-weight: bold; font-size: 20px; line-height: 30px;">$ {{invoiceDetails.total_amount}}</b></h4>
      </div>
    </div>

    <div class="applydiscount" *ngIf="invoiceDetails.discount_amount == 0 && itemDetails != ''">
      <p>Invoice Discount ($)</p>
      <ion-row>
        <ion-col size="8">
          <ion-input [(ngModel)]="discountamount" type="tel" placeholder="$"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-button class="entercouponbtn" shape="round" (click)="applyDiscount()">Apply</ion-button>
        </ion-col>
      </ion-row>
    </div>      

    <div style="text-align: center;">
      <ion-button class="buykit_next" shape="round" style="
      --background: #484545;
      --box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #ffffff, -8px -8px 16px 0 #000000 inset, 8px 8px 16px 0 #9da3a5 inset;
      " (click)="onDraft()">Darft</ion-button>
      <ion-button class="buykit_next" shape="round" (click)="onSend()">Send</ion-button>
    </div>

  </div>
</ion-content>