<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">All Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div class="training_tab">
    <ion-list class="treningbox" *ngFor="let item of allLeads.slice().reverse()" lines="none" (click)="goDetails(item.lead_id)">
        <ion-item style="--background: none;">
          <ion-button slot="start" fill="clear" style="
          height: 45px;
          width: 45px;
          border-radius: 12px;
          background: linear-gradient(174deg, #dde1e2, #ffffff);
          box-shadow: 3px 3px 6px 0 #b0b9bd, -3px -3px 6px 0 #ffffff; margin-right: 15px;
          "><img src="assets/images/homebox_icon2.png" alt="icon"/></ion-button>
          <h3>
            <small>Request On:</small> {{item.created_on}}<br/>
            <small>No. of leads:</small> {{item.total_leads}}<br/>
            <small>Status:</small> {{item.lead_status}}
          </h3>
          <h3 slot="end"><span>$ {{item.total}}</span></h3>
        </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="addnew" (click)="addNew()">New Leads</ion-button>
</ion-footer>