<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Special Bid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>

    <div class="commercialsaccount">
      <span>Account <i style="color: red; font-size: 14px;">*</i></span>
      <ion-textarea [(ngModel)]="account"></ion-textarea>
      <span style="color: #999999; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Here you can enter the
        account name, address, phone, etc.</span>

      <div class="capture_area">

        <h3 style="margin-bottom: 10px;">Disinfectant Deep Cleaning</h3>

        <div class="capture_areabox">
          <h4>Enter Number of Sqft</h4>
          <ion-input type="tel" [(ngModel)]="disinfectant_sqft" (ionChange)="dsnftsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">Price will include
            fogging/spraying and cleanup</span>
        </div>
        <div class="capture_areabox">
          <h4>DISINFECTANT DEEP CLEAN PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="disinfectant_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Post Construction</h3>

        <div class="capture_areabox">
          <h4>Enter Number of Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="construction_sqft" (ionChange)="cnstrtsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="construction_charge_per_sqft" (ionChange)="cnstrtsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .22 to .35 cents per sqft. depending on difficulty (not including windows). *To add
            windows use the windows section of this program</span>
        </div>
        <div class="capture_areabox">
          <h4>POST CONSTRUCTION PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="construction_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Apartment Move-outs</h3>

        <div class="capture_areabox">
          <h4>Enter Square Footage</h4>
          <ion-input type="tel" [(ngModel)]="apartment_sqft" (ionChange)="aprtmntsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="apartment_charge_per_sqft" (ionChange)="aprtmntsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is 14 cents per square foot. This service will vary by locality. Use Thumbtack and other
            methods to compare your price to other companies in your area to ensure that you are remaining
            competetive</span>
        </div>
        <div class="capture_areabox">
          <h4>APARTMENT CHARGE PRICE PER UNIT</h4>
          <ion-input [(ngModel)]="apartment_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Strip and Wax</h3>

        <div class="capture_areabox">
          <h4>Enter Square Footage</h4>
          <ion-input type="tel" [(ngModel)]="strip_sqft" (ionChange)="strpsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="strip_charge_per_sqft" (ionChange)="strpsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .35 to .45 cents per sqft. depending on difficulty. There are rare occasions when jobs may
            require you to go as high as $2 per sqft. depending on the cost of goods sold.</span>
        </div>
        <div class="capture_areabox">
          <h4>STRIP AND WAX PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="strip_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Scrub and Recoat</h3>

        <div class="capture_areabox">
          <h4>Enter Square Footage</h4>
          <ion-input type="tel" [(ngModel)]="scrub_sqft" (ionChange)="scrbsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="scrub_charge_per_sqft" (ionChange)="scrbsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .25 to .30 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>SCRUB AND RECOAT PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="scrub_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Machine Scrub (Autoscrub)</h3>

        <div class="capture_areabox">
          <h4>Enter Square Footage</h4>
          <ion-input type="tel" [(ngModel)]="autoscrub_sqft" (ionChange)="autoscrbsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="autoscrub_charge_per_sqft" (ionChange)="autoscrbsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .12 to .17 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>MACHINE SCRUB PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="autoscrub_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Window Cleaning</h3>

        <div class="capture_areabox">
          <h4>Number of Windows</h4>
          <ion-input type="tel" [(ngModel)]="no_window" (ionChange)="windowVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>PRICE ESTIMATE FOR WINDOW CLEANING</h4>
          <ion-input [(ngModel)]="no_window_PE" disabled></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Enter Number of Sqft</h4>
          <ion-input type="tel" [(ngModel)]="window_sqft" (ionChange)="wndwsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="window_charge_per_sqft" (ionChange)="wndwsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .15 to .20 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>PRICE ESTIMATE FOR WINDOW CLEANING (Square Footage Method)</h4>
          <ion-input [(ngModel)]="window_PE" disabled></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">These window cleaning
            estimates account for the price to clean both inside and outside of the windows. If you wish to quote only
            one side of the window take 40% off of your price.</span>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Pressure Washing</h3>

        <div class="capture_areabox">
          <h4>Enter Square Footage</h4>
          <ion-input type="tel" [(ngModel)]="washing_sqft" (ionChange)="wsngsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="washing_charge_per_sqft" (ionChange)="wsngsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .15 to .20 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>PRESSURE WASHING PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="washing_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Carpet Extraction</h3>

        <div class="capture_areabox">
          <h4>Enter Number of Sqft</h4>
          <ion-input type="tel" [(ngModel)]="extraction_sqft" (ionChange)="extrnsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="extraction_charge_per_sqft" (ionChange)="extrnsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .15 to .20 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>Type a question</h4>
          <ion-input [(ngModel)]="extraction_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Carpet Bonnet</h3>

        <div class="capture_areabox">
          <h4>Enter Number of Sqft</h4>
          <ion-input type="tel" [(ngModel)]="bonnet_sqft" (ionChange)="bntsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="bonnet_charge_per_sqft" (ionChange)="bntsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .20 to .25 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>CARPET BONNET PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="bonnet_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">High Speed Buff (Burnish)</h3>

        <div class="capture_areabox">
          <h4>Enter Number of Sqft</h4>
          <ion-input type="tel" [(ngModel)]="buff_sqft" (ionChange)="buffsqftVal()"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Charge Per Sqft.</h4>
          <ion-input type="tel" [(ngModel)]="buff_charge_per_sqft" (ionChange)="buffsqftVal()"></ion-input>
          <span style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">The C4U
            recommendation is .20 to .25 cents per sqft. depending on difficulty.</span>
        </div>
        <div class="capture_areabox">
          <h4>HIGH SPEED BUFF PRICE ESTIMATE</h4>
          <ion-input [(ngModel)]="buff_PE" disabled></ion-input>
        </div>

        <div class="whiteborder"></div>

        <h3 style="margin-bottom: 10px;">Enter your email and click submit to receive a PDF copy of this bid</h3>

        <div class="capture_areabox">
          <h4>Your Email <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
          <span
            style="color: #ffffff; font-size: 11px; padding: 5px 0 0 0; text-transform: none;">example@example.com</span>
        </div>

        <ion-button class="bidestimatebtn" (click)="onSubmit()">Send Mail</ion-button>

      </div>

    </div>
  </div>
</ion-content>

<div *ngIf="popup" class="pop">
  <div class="pop_in">
    <div class="pop_box">
      <img src="assets/images/green_right.png" alt="green_right" style="margin-top: 10px;" />
      <h2>Thank You!</h2>
      <p>Your Submission has been Sent Successfully.</p>
      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" (click)="onContinue()">Continue</ion-button>
      </div>
    </div>
  </div>
</div>