ion-back-button{
    color:black;
}

.planbox1 {
	background: -moz-linear-gradient(left, #1989d4 0%, #0662a0 100%);
	background: -webkit-linear-gradient(left, #1989d4 0%, #0662a0 100%);
	background: linear-gradient(to right, #1989d4 0%, #0662a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989d4', endColorstr='#0662a0', GradientType=1);
	padding: 15px 20px;
    padding-top: 20px;
	border-radius: 30px;
	width: 95%;
	margin: 40px auto 20px auto;
	box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #aae9fd, 8px 8px 16px 0 #015d9a inset;
    .cartcheckout_btn {
        --background: #96ca24;
        --box-shadow: 3px 3px 6px 0 #002b35, -3px -3px 6px 0 #037aca, -8px -8px 16px 0 #5a7b07 inset, 8px 8px 16px 0 #eeffbc inset;
        color: #293a04;
    }
}