<ion-header style="--background: #18a8e2 !important; background: #18a8e2 !important;" class="ion-no-border">
  <ion-toolbar style="--background: #18a8e2 !important; background: #18a8e2 !important;">
    <div style="text-align: center;"><img style="height: 60px;" src="assets/images/white_logo.png" alt="white_logo" />
      <h4 class="headertext">C4U Lead Generation</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e7eef1;">
  <div style="background:#18a8e2;">
    <div class="home_content">
      <h2>My Profile</h2>
      <div class="profile_section">
        <div class="profile_img_box">
          <img [src]="profilePic != '' ? profilePic : 'assets/images/profile_img.jpg'" alt="profile_img" />
          <div class="profile_camera" (click)="uploadPP()"><img src="assets/images/profile_camera.png"
              alt="profile_camera" /></div>
        </div>
        <span>{{userData.first_name}} {{userData.last_name}}</span>

        <div class="p_box">
          <h4>Email</h4>
          <p>{{userData.email}}</p>
        </div>
        <div class="p_box" *ngIf="userData.phone_number != ''">
          <h4>Phone</h4>
          <p>{{userData.phone_number}}</p>
        </div>
        <div class="p_box" *ngIf="userData.address != ''">
          <h4>My Address</h4>
          <p>{{userData.address}}</p>
        </div>
        <div class="p_box" *ngIf="userData.about_us != ''">
          <h4>About</h4>
          <p>{{userData.about_us}}</p>
        </div>
        <div class="clr"></div>
      </div>
      <div *ngIf="userData.payment_status == 'Free'" style="text-align: center; margin: 30px 0 15px 0;">
        <ion-button style="width: 240px;" class="cartcheckout_btn" routerLink="/plans">Subscribe Now</ion-button>
      </div>
      <div class="planbox1" *ngIf="userData.payment_status == 'Active'">
        <p style="color: #eefd08; padding: 0;">{{plan.title}}</p>
        <h3>{{plan.plan_name}} <b>${{plan.amount}}</b></h3>      
        <p>Expair On: <strong>{{plan.end_date}}</strong></p>
        <ion-button style="width: 100%;" class="cartcheckout_btn" routerLink="/plans">Upgrade Subscription</ion-button>
        <ion-button style="width: 100%; text-transform: capitalize;" fill="clear" size="small" color="warning" (click)="canSub(plan.plan_id)">Cancel Subscription</ion-button>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs class="bottom_tab">
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon1.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon1_active.png" alt="tab_icon1" />
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/buykits" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon2.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon2_active.png" alt="tab_icon1" />
          <ion-label>Buy Kits</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/settings" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon3.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon3_active.png" alt="tab_icon1" />
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button class="active" routerLink="/myprofile" routerDirection="root">
          <img class="tabicon" src="assets/images/tab_icon4.png" alt="tab_icon1" />
          <img class="tabicon_active" src="assets/images/tab_icon4_active.png" alt="tab_icon1" />
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>