<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Get Leads</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>    
    <h4>C4U-CLEAN4U</h4>
    <h2>C4U Lead Generation</h2>  
    <div class="buykit1_para">
      
      <div [innerHtml]="pageContent.content"></div>

      <div class="capture_area">
        <div class="capture_areabox">
          <h4>Company Name <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="text" [(ngModel)]="company" (keyup.enter)="onKeyboard(Field1)"></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Phone Number <i style="color: red; font-size: 14px;">*</i></h4>
          <ion-input type="tel" [(ngModel)]="phone" maxlength="15" (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Alternative Phone Number <i style="color: red; font-size: 14px;">*</i><br/><small>(for emergency purpose)</small></h4>
          <ion-input type="tel" [(ngModel)]="altphone" maxlength="15" (keyup.enter)="onKeyboard(Field3)" #Field2></ion-input>
        </div>
        <div class="capture_areabox">
          <h4>Email <i style="color: red; font-size: 14px;">*</i><br/><small>(Enter a email address for extra security)</small></h4>
          <ion-input type="email" [(ngModel)]="email" (keyup.enter)="onKeyboard()" #Field3></ion-input>
        </div>
      </div>
      <div style="text-align: center;">
        <ion-button class="buykit_next" shape="round" (click)="onNext()">Next</ion-button>
      </div>
    </div>
  </div>
</ion-content>