ion-back-button{
    color:black;
}

.detailsbox {
    padding: 20px;
    background: #ffffff;
    box-shadow: 3px 3px 6px 0 #b0b9bd;
    border-radius: 20px;
    margin: 15px 0;
    min-height: 300px;
    p{
        margin: 5px 0;
        border-bottom: 1px #cccccc dashed;
        padding-bottom: 5px;
        color: #000000;
        font-size: 14px;
        line-height: 18px;
        small{
            color: #888888;
        }
    }
    p:last-child{
        border-bottom: none;
        padding: 0;
    }
}
.treningbox:last-child {
    border-bottom: 0;
}
.addnew {
    margin: 0;
    width: 100%;
    border-radius: 0;
    --border-radius: 0;
}