<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Details of Lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="commercials_panel">
    <div class="bluelogo"><img src="assets/images/blue_logo.png" alt="blue_logo" /></div>
    <h4>C4U-CLEAN4U</h4>
  </div>

  <div style="padding: 20px;">
    <div class="detailsbox" lines="none">
      <div>
        <p><small>Company Name</small><br />{{leaddetails.company_name}}</p>
        <p><small>Phone Number</small><br />{{leaddetails.phone_number}}</p>
        <p><small>Alternative Phone Number</small><br />{{leaddetails.alternative_phone_number}}</p>
        <p><small>Email</small><br />{{leaddetails.secondary_email}}</p>
        <p><small>State</small><br />{{leaddetails.state_name}}</p>
        <p *ngIf="leaddetails.city_name1 != null"><small>City1</small>
          <ion-row>
            <ion-col size="8">
              <small>City Name</small><br />
              {{leaddetails.city_name1}}
            </ion-col>
            <ion-col size="4">
              <small>Qty</small><br />
              {{leaddetails.city1}}
            </ion-col>
          </ion-row>
        </p>
        <p *ngIf="leaddetails.city_name2 != null"><small>City2</small>
          <ion-row>
            <ion-col size="8">
              <small>City Name</small><br />
              {{leaddetails.city_name2}}
            </ion-col>
            <ion-col size="4">
              <small>Qty</small><br />
              {{leaddetails.city2}}
            </ion-col>
          </ion-row>
        </p>
        <p *ngIf="leaddetails.city_name3 != null"><small>City3</small>
          <ion-row>
            <ion-col size="8">
              <small>City Name</small><br />
              {{leaddetails.city_name3}}
            </ion-col>
            <ion-col size="4">
              <small>Qty</small><br />
              {{leaddetails.city3}}
            </ion-col>
          </ion-row>
        </p>
        <p *ngIf="leaddetails.city_name4 != null"><small>City4</small>
          <ion-row>
            <ion-col size="8">
              <small>City Name</small><br />
              {{leaddetails.city_name4}}
            </ion-col>
            <ion-col size="4">
              <small>Qty</small><br />
              {{leaddetails.city4}}
            </ion-col>
          </ion-row>
        </p>
        <p *ngIf="leaddetails.city_name5 != null"><small>City5</small>
          <ion-row>
            <ion-col size="8">
              <small>City Name</small><br />
              {{leaddetails.city_name5}}
            </ion-col>
            <ion-col size="4">
              <small>Qty</small><br />
              {{leaddetails.city5}}
            </ion-col>
          </ion-row>
        </p>
        <p><small>Are you available for weekend appointment?</small><br />{{leaddetails.available_weekend_appointment}}
        </p>
        <p><small>What time of the day are you available most appointment will be set for
            10am)</small><br />{{leaddetails.time_appointment}}</p>
        <p><small>Would you like to receive appointment for apartment move-outs
            also?</small><br />{{leaddetails.apartment_appointment}}</p>
        <p><small>Would you like to receive appointment for hotels/motels
            also?</small><br />{{leaddetails.hotel_appointment}}</p>
        <p *ngIf="leaddetails.notes ! ''"><small>Note</small><br />{{leaddetails.notes}}</p>
        <p *ngIf="leaddetails.coupon_code ! null"><small><b>C4U SUPPER</b> Coupon
            Applied</small><br />{{leaddetails.coupon_code}}</p>
      </div>
      <div style="background: #eeeeee; padding: 12px; border-radius: 20px; margin-top: 20px;">
        <p style="font-size: 14px; font-weight: bold;">
          <ion-row>
            <ion-col size="8">
              <small>Sub Total</small>
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              {{leaddetails.sub_total}}
            </ion-col>
          </ion-row>
        </p>
        <p style="font-size: 14px; font-weight: bold;">
          <ion-row>
            <ion-col size="8">
              <small>Discount</small>
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              - {{leaddetails.discount}}
            </ion-col>
          </ion-row>
        </p>
        <p style="font-size: 18px; font-weight: bold;">
          <ion-row>
            <ion-col size="8">
              <small>Total</small>
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              {{leaddetails.total}}
            </ion-col>
          </ion-row>
        </p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="csvUrl != ''">
  <ion-button class="addnew" (click)="downloadCSV()">Download Lead Info</ion-button>
</ion-footer>