<ion-header lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="innerpageheading">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 10px 30px 30px 30px; color: #666666;" [innerHTML]="pageData.content"></div>
</ion-content>
